<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网易云音乐</title>
</head>
<link rel="stylesheet" href="./寒假考核.css">

<body>
    <div id="music">
        <!-- 导航页 -->
        <div id="top">
            <div class="top">
                <div>
                    <img src="./网易云音乐.jpg">
                    <a href="" id="bt1">&lt;</a> <a href="" id="bt2">&gt;</a>
                </div>
                <div>
                    <input type="text" value="" id="sousuo" placeholder="搜索歌曲" autocomplete="off" v-model="query"
                        @keyup.enter="searchMusic();" />
                </div>
                <a href="" id="bt3"><img src="./t1.png"></a>
                <div id="denglu"> <input type="button" class="bt4"> <em class="little_br denglu">未登录▼</em> </div>
                <div class="saoma"><em class="x" title="关闭页面">×</em><img src="./登录二维码.png"></div>
            </div>
            <div class="list">
                <ul>
                    <li v-for="item in musicList">
                        <!-- 点击放歌 -->
                        <a href="javascript:;" @click="playMusic(item.id)"></a>
                        <b>{{item.name}}</b>
                        <audio controls autoplay></audio>
                    </li>
                </ul>
            </div>

        </div>

        <!-- 主页面 -->
        <div class="box-right">
            <ul>
                <li class="transverse">
                    <a href=""><em>个性推荐</em></a>

                </li>
                <li class="transverse">
                    <a href=""><em>专属定制</em></a>

                </li>
                <li class="transverse">
                    <a href=""><em>歌单</em></a>

                </li>
                <li class="transverse">
                    <a href=""> <em>排行榜</em></a>
                </li>
                <li class="transverse">
                    <a href="#"><em>歌手</em></a>
                </li>
                <li class="transverse">
                    <a href="#"><em>最新音乐</em></a>
                </li>
            </ul>
        </div>
        <!-- 引用 -->
        <main id="main">
            <!-- 虚化背景 -->
            <div class="bg"></div>
            <!-- 图片框 -->
            <section>
                <!-- 放图片 -->
                <div class="tupian">
                    <img src="./h1.png" class="image">
                </div>
                <!-- 小圆点 -->
                <div class="select">
                    <!--  <div class="dian"></div>
                     <div class="dian check"></div>      -->
                </div>
                <!-- 左右切换按钮 -->
                <div class="bt left"><span class="anniu">&lt;</span></div>
                <div class="bt right"><span class="anniu">&gt;</span></div>
            </section>
        </main>
        <div class="transverse rec box-right" id="">
            <a><strong>推荐歌单&nbsp; &gt;</strong></a>
        </div>
        <div><span class="span box-right"><img src="./歌单.png"></span>
            <span class="span box-right"><img src="./歌单1.png"></span>
            <span class="span box-right"><img src="./歌单2.png"></span>
            <span class="span box-right"><img src="./歌单3.png"></span>
            <span class="span box-right"><img src="./歌单4.png"></span>
        </div>
        <div><span class="span box-right"><img src="./歌单5.png"></span>
            <span class="span box-right"><img src="./歌单6.png"></span>
            <span class="span box-right"><img src="./歌单7.png"></span>
            <span class="span box-right"><img src="./歌单8.png"></span>
            <span class="span box-right"><img src="./歌单9.png"></span>
        </div>









        <!-- 左侧边 -->
        <div class="box-left">
            <ul>
                <li class="vertical">
                    <a href=""><em>发现音乐</em></a>
                </li>
                <li class="vertical">
                    <a href=""><em>视频</em></a>
                </li>
                <li class="vertical">
                    <a href=""><em>关注</em></a>
                </li>
                <li class="vertical">
                    <a href=""><em>直播</em></a>
                </li>
                <li class="vertical">
                    <a href=""><em>私人FM</em></a>
                </li>

            </ul>
            <ul>
                <em class="little_br">我的音乐</em>
                <li class="vertical"><a href=""><em>本地与下载</em></a></li>
                <li class="vertical"><a href=""><em>最近播放</em></a></li>
                <li class="vertical"><a href=""><em>我的音乐云盘</em></a></li>
                <li class="vertical"><a href=""><em>我的播客</em></a></li>
                <li class="vertical"><a href=""><em>我的收藏</em></a></li>
            </ul>
            <ul class="like">
                <li class="little_br"><span>喜欢的音乐</span> <em><img src="./箭头.png"></em></li>
                <li class="like1">111111</li>
                <li class="like1">22222</li>
                <li class="like1">3333</li>
                <li class="like1">44444</li>
                <li class="like1">55555</li>
                <li class="like1">666666</li>
            </ul>
            <ul class="mySongs">
                <li class="little_br"><span>我的歌单</span> <em id="s2"><img src="./箭头.png"></em></li>
                <li class="like1">111111</li>
                <li class="like1">22222</li>
                <li class="like1">3333</li>
                <li class="like1">44444</li>
                <li class="like1">55555</li>
                <li class="like1">666666</li>
            </ul>

            <!-- 分割线 -->
            <div class="cut"></div>
        </div>
        <!-- 歌曲播放 -->
        <div id="liebiao">
            <div class="bottom" id="container">
                <div class="bottom1">
                    <div class="bottom2" id="player">
                        <audio src="汪苏泷 - 第十二夜.mp3" controls autoplay id="aud"></audio>
                        <div class="button" id="buttons">
                            <button id="btpre">◀|</button> <button id="next">|▶</button>
                        </div>
                    </div>
                    <div class="cover"><span><img src=""></span></div>
                    <div class="lb"><button @click="haveLb"><img src="./播放列表.png" id="lb"></button></div>
                </div>
            </div>
            <div id="now" v-if="lb">

                <b>当前播放</b>
                <ul class="gequ" id="list">
                    <li class="gequ play">第十二夜</li>
                    <li class="gequ">悬崖海棠</li>
                    <li class="gequ">化身孤岛的蓝鲸</li>

                </ul>
            </div>
        </div>
    </div>







</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="寒假考核.js"></script>
<script type="text/javascript" src="寒假考核1.js"></script>

</html>